<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/show_emp_info}" method="post">
    <div>
        <select name="empId"> <!-- Add name attribute -->
            <option th:each="emp : ${showEmp}" th:value="${emp.id}"> <!-- Specify value attribute -->
                <p th:text="${emp.id}"></p> <p th:text="${emp.name}"></p>
            </option>
        </select>
    </div>
    <button type="submit" class="btn">Submit</button>
</form>
</body>
</html>